body {
    background-color: #fdf1d3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

iframe {
    border: none; 
    width: 100%;
    height: 80px;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "glavnaVijest glavnaVijest glavnaVijest glavnaVijest"
        "visoka1 kvadratna1 kvadratna2 visoka2"
        "visoka1 kvadratna3 kvadratna4 visoka2"
        "kvadratna5 kvadratna6 visoka3 visoka4"
        "kvadratna7 kvadratna8 visoka3 visoka4";
    padding: 10px;
}

.glavnaVijest{
    background-color: lightskyblue;
    padding: 10px;
    overflow: auto;
    border: 2px solid #000;
}

#glavna {
    grid-area: glavnaVijest;
    background-color: lightskyblue;
    padding: 10px;
}

#visoka1 {
    grid-area: visoka1;
    background-color:navajowhite;
    padding: 10px;
}

#visoka2 {
    padding: 10px;
    grid-area: visoka2;
    background-color:navajowhite;
}

#visoka3 {
    padding: 10px;
    grid-area: visoka3;
    background-color:navajowhite;
}

#visoka4 {
    padding: 10px;
    grid-area: visoka4;
    background-color:navajowhite;

}

#kvadratna1, #kvadratna2, #kvadratna3, #kvadratna4, #kvadratna5, #kvadratna6, #kvadratna7, #kvadratna8 {
    aspect-ratio: 1 / 1;
    background-color: indianred;
}

.kvadratnaVijest {
    border: 2px solid #000;
    padding:5px;
    background-color: indianred;
    overflow: auto;
    aspect-ratio: 1 / 1;
}

.visokaVijest {
    background-color:navajowhite;
    padding: 10px;
    overflow: auto;
    grid-column: span 1;
    grid-row: span 2;
    border: 2px solid #000;
}


.glavnaVijest img {
    width: 100%; 
    height: auto;
}

.glavnaVijest p{
    font-weight: bold;
}

.glavnaVijest h1{
    color:darkblue;
    font-size: 40px;
}

.visokaVijest h2{
    color:blue;
    font-size: 25px;
}

.kvadratnaVijest h3{
    color:gold;
    font-size: 20px;
}

@media (max-width: 799px) {
    .news-container {
        grid-template-columns: 1fr 1fr; 
        grid-template-areas: 
            "glavnaVijest glavnaVijest"
            "glavnaVijest glavnaVijest"
            "visoka1 kvadratna1"
            "visoka1 kvadratna2"
            "kvadratna3 visoka2"
            "kvadratna4 visoka2"
            "kvadratna5 kvadratna6"
            "kvadratna7 kvadratna8"
            "visoka3 visoka4"
            "visoka3 visoka4";
            padding: 10px;

    }

    .glavnaVijest {
        aspect-ratio: 1 / 1;
        overflow: scroll;
    }

    .kvadratnaVijest{
        aspect-ratio: 1 / 1;
        overflow: scroll;

    }

    .visokaVijest{
        grid-column: span 1;
        grid-row: span 2;
        overflow: scroll;

    }

    .glavnaVijest img{
        width: 720px;
        height: 450px;
    }
}