body {
    background-color: #fdf1d3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

iframe {
    border: none; 
    width: 100%;
    height: 80px;
}

.news-container {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-areas: 
        "glavna glavna glavna glavna"
        "glavna glavna glavna glavna"
        "visoka1 kvadratna1 kvadratna2 visoka2"
        "visoka1 kvadratna3 kvadratna4 visoka2"
        "kvadratna5 kvadratna6 visoka3 visoka4"
        "kvadratna7 kvadratna8 visoka3 visoka4";
    align-items: stretch;
    padding: 10px;
    
}

.glavnaVijest{
    background-color: lightskyblue;
    overflow: auto;
    border: 2px solid #000;
    grid-column: span 4;
    grid-row: span 2;
    padding: 10px;
    aspect-ratio: 2/1;
}

#kvadratna1{
    grid-area: kvadratna1;
}

#kvadratna2{
    grid-area: kvadratna2;
}

#kvadratna3{
    grid-area: kvadratna3;
}

#kvadratna4{
    grid-area: kvadratna4;
}

#kvadratna5{
    grid-area: kvadratna5;
}

#kvadratna6{
    grid-area: kvadratna6;
}

#kvadratna7{
    grid-area: kvadratna7;
}

#kvadratna8{
    grid-area: kvadratna8;
}

#glavna {
    grid-area: glavna;
    grid-column: span 4;
    grid-row: span 2;
    aspect-ratio: 2 / 1;
    background-color: lightskyblue;
}

#visoka1 {
    grid-area: visoka1;
    background-color:navajowhite;
}

#visoka2 {
    grid-area: visoka2;
    background-color:navajowhite;
}

#visoka3 {
    grid-area: visoka3;
    background-color:navajowhite;
}

#visoka4 {
    grid-area: visoka4;
    background-color:navajowhite;

}


.kvadratnaVijest {
    border: 2px solid #000;
    padding: 10px;
    background-color: indianred;
    overflow: hidden;
    grid-row: span 1;
    grid-column: span 1;
    aspect-ratio: 1/1;
    box-sizing: border-box;
}

.visokaVijest {
    background-color:navajowhite;
    padding: 10px;
    overflow: hidden;
    grid-row: span 2;
    grid-column: span 1;
    aspect-ratio: 1/2;
    border: 2px solid #000;
    box-sizing: border-box;
}

.glavnaVijest img {
    width: 50%; 
    height: auto;
}

.glavnaVijest p{
    font-weight: bold;
}

.glavnaVijest h1{
    color:darkblue;
    font-size: 30px;
}

.visokaVijest h2{
    color:blue;
    font-size: 20px;
}

.kvadratnaVijest h3{
    color:gold;
    font-size: 15px;
}

@media (max-width: 799px) {
    .news-container {
        grid-template-columns: 1fr 1fr; 
        grid-template-areas: 
            "glavna glavna"
            "glavna glavna"
            "visoka1 kvadratna1"
            "visoka1 kvadratna2"
            "kvadratna3 visoka2"
            "kvadratna4 visoka2"
            "kvadratna5 kvadratna6"
            "kvadratna7 kvadratna8"
            "visoka3 visoka4"
            "visoka3 visoka4";
            padding: 10px;
            align-items: stretch;
    }

    .glavnaVijest{
        grid-column: span 2;
        overflow: auto;
        aspect-ratio: 1 / 1;
        padding: 10px;

    }

    #glavna{
        aspect-ratio: 1 / 1;
        grid-area: glavna;
    }

    .kvadratnaVijest{
        grid-column: span 1;
        grid-row: span 1;
        aspect-ratio: 1/1;
        overflow: auto;
        padding: 10px;

    }

    .visokaVijest {
        grid-row: span 2; 
        aspect-ratio: 1/2; 
        padding: 10px;


    }

    .glavnaVijest img{
        width: 70%;
        height: 35%;
    }
}