body {
    background-color: #fdf1d3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

iframe {
    border: none; 
    width: 100%;
    height: 80px;
}

#search-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    margin: 20px;
}

#search-container label {
    font-size: 14px;
    margin-bottom: 5px;
}

#search-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#search-container button {
    grid-column: span 4;
    background-color: #ff9900;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#divNekretnine h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #333;
    padding:10px;
}

.grid-lista-nekretnina {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.grid-lista-nekretnina > div {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.nekretnina {
    border: 2px solid #000;
    width: 300px;
    padding: 15px;
    background-color: white;
    text-align: center;
    max-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.nekretnina:hover {
    transform: scale(1.05);
}

.nekretnina.kuca {
    background-color: #e0f7fa;
}

.nekretnina.pp {
    background-color: #c8e6c9;
}

.nekretnina.stan {
    background-color: #fff3e0;
}

/* Property image */
.slika-nekretnine {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

/* Property details */
.detalji-nekretnine {
    text-align: left;
    font-size: 14px;
    margin: 10px 0;
}

.detalji-nekretnine h3 {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.detalji-nekretnine p {
    margin: 5px 0;
    color: #555;
}

.cijena-nekretnine {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
}

.detalji-dugme {
    margin-top: 15px;
    background-color: #ff9900;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.detalji-dugme:hover {
    background-color: #e68900;
}
